body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      color: #fff; /* Change the text color to white */
      padding: 10px;
      position: fixed;
   }

.go-back {
  display: block;
  text-decoration: none;
  color: #333;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  align-items: center;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item .item-info {
  display: flex;
  align-items: center;
}

.cart-item img.product-image {
  max-width: 80px;
  max-height: 80px;
  margin-right: 20px;
  border-radius: 5px;
}

.cart-item .product-details {
  text-align: left;
}

.cart-item p {
  margin: 5px 0;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-btn {
  background-color: #ddd;
  color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.quantity {
  margin: 0 10px;
  font-weight: bold;
}

.remove-btn {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #e74c3c;
}

#totalPrice {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}