body {
  background-color: #344a72;
  font-family: 'Roboto', sans-serif;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.signup-box {
  width: 360px;
  height: 620px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #fff; /* Change the text color to white */
  padding: 10px;
}

h1 {
  text-align: center;
  padding-top: 15px;
  
}

h4 {
  text-align: center;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid grey;
  border-radius: 6px;
  outline: none;
  margin-bottom: 20px;
}

input[type="button"],
input[type="submit"] {
  width: 300px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2; /* Change the background color to green */
  color: white;
  font-size: 18px;
  
}

p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}

.para-2 {
  text-align: center;
  color: black;
  font-size: 15px;
  margin-top: -10px;
}

.para-2 a {
  color: #49c1a2;
}

input[type="submit"]:hover {
  background-color: #36ab8d;
}
