<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Forgot Password</title>
</head>
<body>
<header>
    <a href="../login.html"><img alt="Home" height="50px" src="photos/back.png" width="50px"></a>
</header>
<div class="alert" th:if="${accountExistsError}">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Error : </strong>Account with that email doesn't exist
</div>
<link href="forgotstyle.css" rel="stylesheet">
<h1>Forgot Password</h1>
<form action="/ForgotPassword" id="contactForm" method="post" onsubmit="return validateForm()">
    <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" name="email" required type="email">
    </div>
    <div class="form-group">
        <label for="email">Comfirm Email:</label>
        <input id="confirmEmail" name="confirmEmail" required type="email">
    </div>

    <button type="submit">Submit</button>
</form>

<script>
    function validateForm() {
      const email = document.getElementById('email').value;
      if (!email.includes('@')) {
        alert('Please enter a valid email address.');
        return false;
      }
    }
</script>
<script>
    const emailInput = document.getElementById('email');
    const emailConfirmInput = document.getElementById('confirmEmail');
    emailConfirmInput.addEventListener('input', () => {
      if (emailInput.value !== emailConfirmInput.value) {
        emailConfirmInput.setCustomValidity('Email does not match');
      } else {
        emailConfirmInput.setCustomValidity('');
      }
    });
</script>


</body>
</html>
