<!DOCTYPE html>
<html lang="en">
<head>
    <link href="MessageCenterStyle.css" rel="stylesheet">
    <title>Chat App</title>
</head>
<body>
<header>
    <a href="index.html"><img alt="Home" height="50px" src="photos/homes.png" width="50px"></a>
</header>
<div class="chat-container">
    <h2 class="chat-title">Welcome to the Chat!</h2>
    <div class="chat-messages" id="chat-messages"></div>
    <div>
        <input class="message-input" id="message-input" placeholder="Enter your message..." type="text">
        <br>
        <br>
        <button class="send-button" id="send-button">Send</button>
        <button class="clear-button" id="clear-button">Clear Chat</button>
    </div>
</div>

<script src="MessageCenter.js"></script>
</body>
</html>
